{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Hello, {{ current_user.username }}!</h1>

<div>
    <p>Below are your subjects:</p>
</div>



{% for chartData in chartParams %}
{{ chartData }}
<h2> {{ chartData['user_id_name'] }}</h2>
<div class="container1">
<div id={{ chartData['chart']['renderTo']|safe }} class="chart"></div>
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://code.highcharts.com/highcharts.js"></script>
{% for chartData in chartParams %}
<script>
        $(document).ready(function () {
            $("#{{ chartData['chart']['renderTo']| safe }}").highcharts({
            chart: {{ chartData['chart']| safe }},
            title: {{ chartData['title']| safe }},
            xAxis: {{ chartData['xAxis']| safe }},
            yAxis: {{ chartData['yAxis']| safe }},
            series: {{ chartData['series']| safe }}
    });
    });
</script>

</div>
    
{% endfor %}
{% endblock %}